# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Screenshots y reportes
screenshots/
test-output/
*.html
*.log

# Ignorar imágenes EXCEPTO las de recursos de test
*.png
*.jpg
!src/test/resources/images/*.png
!src/test/resources/images/*.jpg

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos compilados
*.class
bin/
out/

# Logs
*.log
logs/